In [1]:
# import all necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# read in the dataset
pd.set_option('display.max_rows', None)

df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
# How would you check for the number of rows and columns in a pandas DataFrame named df?

df.shape

(60943, 12)

In [5]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [6]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

data = df[['Y2017','Area']]
data.groupby('Area').sum().sort_values(by = 'Y2017', ascending = False)

                                  Y2017
Area
Nigeria                      1483268.23
Egypt                         866379.92
South Africa                  517590.54
Ethiopia                      448683.76
Morocco                       388495.36
Ghana                         337599.06
Algeria                       325644.27
United Republic of Tanzania   322616.85
Kenya                         264660.66
Sudan                         239931.92
Cameroon                      232030.43
Angola                        229159.57
Côte d'Ivoire                 224599.01
Uganda                        213950.38
Malawi                        181098.71
Mozambique                    161407.98
Mauritania                    156665.46
Mali                          149928.33
Madagascar                    131197.73
Niger                         126707.58
Benin                         124771.22
Tunisia                       124167.20
Zambia                        103223.77
Burkina Faso                  101855.07
Guinea                         98138.87
Senegal                        95681.15
Zimbabwe                       75919.34
Rwanda                         73663.69
Chad                           71594.68
Sierra Leone                   55311.33
Eswatini                       54343.33
Mauritius                      51114.83
Togo                           49841.88
Congo                          41181.68
Central African Republic       29937.00
Namibia                        29874.89
Liberia                        29342.20
Gabon                          27979.64
Gambia                         23154.18
Djibouti                       22729.91
Botswana                       22101.30
Lesotho                        21267.96
Guinea-Bissau                  19102.77
Cabo Verde                     14650.74
Sao Tome and Principe          12662.63
Seychelles                       442.34
Comoros                           59.84
Sudan (former)                     0.00
Ethiopia PDR                       0.00

In [7]:
# Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [8]:
 #Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

#How would you select  the elements in bold and italics from the array?

array[1 : ,:]

TypeError: list indices must be integers or slices, not tuple

In [9]:
# If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

# How do you create a pandas DataFrame using this list, to look like the table below?

df1 = pd.DataFrame(lst, columns=col, index=[1,2,3])
df1

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [10]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
data = df[['Y2017','Area']]
data.groupby('Area').sum().sort_values(by = 'Y2017',ascending = True)

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

In [11]:
# Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

# How would you assign element 8 from the list to a variable x?

x = y[1][1]
print(x)

8

In [12]:
# What is the total number of unique countries in the dataset?

df.groupby('Area')['Area'].nunique().count()

49

In [13]:
#What is the total number and percentage of missing data in 2014 to 3 decimal places?

print(df.isnull().sum())
print(df.isnull().sum() * 100 / len(df))

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64
Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [14]:
# What is the total Protein supply quantity in Madagascar in 2015?
pd.set_option('display.max_rows', None)
df.groupby(['Element','Area'])['Y2015'].sum()

Element                                 Area
Domestic supply quantity                Algeria                         85972.86
                                        Angola                          55482.91
                                        Benin                           27661.67
                                        Botswana                         2916.14
                                        Burkina Faso                    23658.17
                                        Cabo Verde                        744.22
                                        Cameroon                        61517.69
                                        Central African Republic         5357.31
                                        Chad                            14155.62
                                        Comoros                            13.78
                                        Congo                            7889.41
                                        Côte d'Ivoire                   51810.70
                                        Djibouti                         3439.81
                                        Egypt                          245789.22
                                        Eswatini                        13138.20
                                        Ethiopia                        99959.11
                                        Ethiopia PDR                        0.00
                                        Gabon                            4405.66
                                        Gambia                           2006.23
                                        Ghana                           87182.35
                                        Guinea                          22925.09
                                        Guinea-Bissau                    1897.79
                                        Kenya                           66444.26
                                        Lesotho                          1872.95
                                        Liberia                          4747.46
                                        Madagascar                      31214.98
                                        Malawi                          43271.06
                                        Mali                            32954.30
                                        Mauritania                       4362.43
                                        Mauritius                       10825.47
                                        Morocco                         76200.05
                                        Mozambique                      39205.32
                                        Namibia                          3982.29
                                        Niger                           27863.79
                                        Nigeria                        406045.65
                                        Rwanda                          16915.91
                                        Sao Tome and Principe             324.01
                                        Senegal                         18056.64
                                        Seychelles                         11.68
                                        Sierra Leone                    14670.00
                                        South Africa                   121786.23
                                        Sudan                           60819.58
                                        Sudan (former)                      0.00
                                        Togo                             9441.55
                                        Tunisia                         32016.06
                                        Uganda                          55189.72
                                        United Republic of Tanzania     85397.61
                                        Zambia                          22937.71
                                        Zimbabwe                        17012.90
Export Quantity                         Algeria                          1104.62
                                        Angola                           2174.58
                                        Benin                             580.59
                                        Botswana                          134.58
                                        Burkina Faso                     1038.32
                                        Cabo Verde                         79.33
                                        Cameroon                         1310.94
                                        Central African Republic            0.00
                                        Chad                               26.20
                                        Comoros                             0.00
                                        Congo                              17.60
                                        Côte d'Ivoire                    7665.47
                                        Djibouti                          148.06
                                        Egypt                           10254.36
                                        Eswatini                         1202.00
                                        Ethiopia                         2697.60
                                        Ethiopia PDR                        0.00
                                        Gabon                               4.56
                                        Gambia                             57.86
                                        Ghana                            2519.46
                                        Guinea                            154.16
                                        Guinea-Bissau                     264.02
                                        Kenya                            1849.06
                                        Lesotho                            76.15
                                        Liberia                            66.27
                                        Madagascar                        494.75
                                        Malawi                            583.02
                                        Mali                              170.34
                                        Mauritania                      14939.95
                                        Mauritius                        2898.45
                                        Morocco                         58646.63
                                        Mozambique                       1363.68
                                        Namibia                          2078.44
                                        Niger                             503.77
                                        Nigeria                          1170.45
                                        Rwanda                            246.30
                                        Sao Tome and Principe              12.02
                                        Senegal                          4199.54
                                        Seychelles                        161.58
                                        Sierra Leone                      132.20
                                        South Africa                    24264.59
                                        Sudan                            1409.66
                                        Sudan (former)                      0.00
                                        Togo                              431.97
                                        Tunisia                          2004.27
                                        Uganda                           2919.69
                                        United Republic of Tanzania      2773.60
                                        Zambia                           2181.66
                                        Zimbabwe                          602.12
Fat supply quantity (g/capita/day)      Algeria                           317.40
                                        Angola                            235.76
                                        Benin                             208.02
                                        Botswana                          274.04
                                        Burkina Faso                      270.25
                                        Cabo Verde                        260.40
                                        Cameroon                          224.79
                                        Central African Republic          197.94
                                        Chad                              222.10
                                        Congo                             198.44
                                        Côte d'Ivoire                     231.15
                                        Djibouti                          242.22
                                        Egypt                             232.40
                                        Eswatini                          183.48
                                        Ethiopia                          109.85
                                        Gabon                             225.47
                                        Gambia                            254.96
                                        Ghana                             161.06
                                        Guinea                            268.72
                                        Guinea-Bissau                     253.05
                                        Kenya                             174.29
                                        Lesotho                           204.78
                                        Liberia                           240.67
                                        Madagascar                         91.85
                                        Malawi                            171.96
                                        Mali                              228.89
                                        Mauritania                        274.08
                                        Mauritius                         367.30
                                        Morocco                           265.74
                                        Mozambique                        156.12
                                        Namibia                           221.48
                                        Niger                             199.07
                                        Nigeria                           218.07
                                        Rwanda                            106.25
                                        Sao Tome and Principe             288.53
                                        Senegal                           242.96
                                        Sierra Leone                      216.18
                                        South Africa                      332.05
                                        Sudan                             269.04
                                        Togo                              212.35
                                        Tunisia                           387.13
                                        Uganda                            190.88
                                        United Republic of Tanzania       213.18
                                        Zambia                            178.78
                                        Zimbabwe                          212.61
Feed                                    Algeria                         10308.00
                                        Angola                           7947.77
                                        Benin                            3928.58
                                        Botswana                           32.02
                                        Burkina Faso                      711.52
                                        Cabo Verde                         58.00
                                        Cameroon                         4777.06
                                        Central African Republic            4.00
                                        Chad                              732.00
                                        Comoros                             0.00
                                        Congo                              91.80
                                        Côte d'Ivoire                    5980.00
                                        Djibouti                          295.00
                                        Egypt                           29615.95
                                        Eswatini                          113.00
                                        Ethiopia                         2954.00
                                        Ethiopia PDR                        0.00
                                        Gabon                             440.00
                                        Gambia                             78.00
                                        Ghana                           11943.34
                                        Guinea                           3652.10
                                        Guinea-Bissau                      17.00
                                        Kenya                            1193.69
                                        Lesotho                           139.00
                                        Liberia                           134.00
                                        Madagascar                       2070.22
                                        Malawi                          10915.96
                                        Mali                             2226.90
                                        Mauritania                         80.10
                                        Mauritius                        2044.76
                                        Morocco                          8438.90
                                        Mozambique                       2217.40
                                        Namibia                           105.24
                                        Niger                            2042.00
                                        Nigeria                         70743.57
                                        Rwanda                            161.02
                                        Sao Tome and Principe               0.00
                                        Senegal                           477.03
                                        Seychelles                          3.42
                                        Sierra Leone                     4652.00
                                        South Africa                    17928.70
                                        Sudan                            2089.44
                                        Sudan (former)                      0.00
                                        Togo                             1268.92
                                        Tunisia                          5223.79
                                        Uganda                            355.02
                                        United Republic of Tanzania      4520.28
                                        Zambia                           2178.64
                                        Zimbabwe                          161.08
Food                                    Algeria                         61693.49
                                        Angola                          34545.12
                                        Benin                           15171.09
                                        Botswana                         2343.12
                                        Burkina Faso                    18596.49
                                        Cabo Verde                        557.21
                                        Cameroon                        33143.62
                                        Central African Republic         4340.23
                                        Chad                             9035.62
                                        Comoros                            11.28
                                        Congo                            5721.61
                                        Côte d'Ivoire                   30275.67
                                        Djibouti                          805.81
                                        Egypt                          143300.19
                                        Eswatini                         1140.20
                                        Ethiopia                        71811.06
                                        Ethiopia PDR                        0.00
                                        Gabon                            2789.66
                                        Gambia                           1471.23
                                        Ghana                           46487.31
                                        Guinea                          13140.00
                                        Guinea-Bissau                    1355.79
                                        Kenya                           48032.78
                                        Lesotho                          1652.95
                                        Liberia                          3523.46
                                        Madagascar                      21120.65
                                        Malawi                          21756.12
                                        Mali                            20933.40
                                        Mauritania                       3676.28
                                        Mauritius                        1316.51
                                        Morocco                         47243.87
                                        Mozambique                      28210.93
                                        Namibia                          2685.75
                                        Niger                           19904.79
                                        Nigeria                        231454.02
                                        Rwanda                          14764.81
                                        Sao Tome and Principe             232.01
                                        Senegal                         12489.61
                                        Seychelles                          5.34
                                        Sierra Leone                     7479.00
                                        South Africa                    61769.57
                                        Sudan                           39971.14
                                        Sudan (former)                      0.00
                                        Togo                             6680.63
                                        Tunisia                         19043.86
                                        Uganda                          41135.70
                                        United Republic of Tanzania     59659.38
                                        Zambia                          11208.05
                                        Zimbabwe                         8674.69
Food supply (kcal/capita/day)           Algeria                         13512.00
                                        Angola                           9514.00
                                        Benin                           10902.00
                                        Botswana                         9528.00
                                        Burkina Faso                    10979.00

In [21]:
# Answer the following questions based on the African food production dataset provided by the FAO website already provided

#What is the total sum of Wine produced in 2015 and 2018 respectively?

#Hint:

#Perform a groupby sum aggregation on ‘Item’

df.groupby('Item')[['Y2015','Y2018']].sum()

                                      Y2015       Y2018
Item
Alcohol, Non-Food                   2180.00     2293.00
Alcoholic Beverages                98783.72    97847.27
Animal Products                    11811.73    11578.61
Animal fats                       200675.72   269648.27
Apples and products                10559.15     9640.51
Aquatic Animals, Others                9.26        5.92
Aquatic Plants                       631.23      452.02
Aquatic Products, Other              638.42      456.65
Bananas                            55046.76    55549.23
Barley and products                29153.44    31253.70
Beans                              20315.77    20121.14
Beer                               42053.67    41612.12
Beverages, Alcoholic                2818.38     2979.21
Beverages, Fermented               47447.92    46874.94
Bovine Meat                        22766.42    23926.30
Butter, Ghee                        1165.69     1175.59
Cassava and products              410235.89   435862.14
Cephalopods                          496.95      532.07
Cereals - Excluding Beer          845669.36   903280.79
Cereals, Other                     18912.55    22125.96
Citrus, Other                      15188.91    15804.14
Cloves                                77.29       82.36
Cocoa Beans and products            7671.59     8353.83
Coconut Oil                          556.18      537.70
Coconuts - Incl Copra               6646.28     6526.12
Coffee and products                 3849.99     4009.65
Cottonseed                          7998.00     8802.00
Cottonseed Oil                      1507.90     1421.56
Cream                                233.37      271.61
Crustaceans                          732.86      833.61
Dates                              11108.74    11454.52
Demersal Fish                       6123.88     6616.23
Eggs                               21431.48    20638.48
Fats, Animals, Raw                  1729.80     1707.11
Fish, Body Oil                       193.73      219.65
Fish, Liver Oil                        6.36       48.02
Fish, Seafood                      43293.41    44810.20
Freshwater Fish                    13195.86    14244.98
Fruits - Excluding Wine           282857.19   290381.46
Fruits, Other                      57504.33    61370.30
Grand Total                       118937.92   119388.06
Grapefruit and products             2352.21     2449.18
Grapes and products (excl wine)    14607.88    13992.75
Groundnut Oil                       5561.17     5463.60
Groundnuts (Shelled Eq)            42199.35    46513.58
Honey                                713.12      681.56
Infant food                          340.38      298.01
Lemons, Limes and products          3667.51     4220.50
Maize Germ Oil                       950.64      865.77
Maize and products                287659.14   297383.10
Marine Fish, Other                  3153.59     3134.78
Meat                               66042.60    70553.53
Meat, Other                         5287.66     5412.90
Milk - Excluding Butter           266446.14   281018.64
Millet and products                40459.94    49783.34
Miscellaneous                       6803.24     6715.51
Molluscs, Other                      134.91      157.20
Mutton & Goat Meat                  9625.44     9769.46
Nuts and products                   6939.31     6886.56
Oats                                 930.02     1029.29
Offals                              7841.07     8751.58
Offals, Edible                      7841.07     8751.58
Oilcrops                          163097.03   180845.03
Oilcrops Oil, Other                 5398.90     5580.14
Oilcrops, Other                     6584.80     6464.42
Olive Oil                           1711.65     1983.76
Olives (including preserved)       12547.69    12824.75
Onions                             36973.65    40608.41
Oranges, Mandarines                33421.50    34471.68
Palm Oil                           27229.24    32732.58
Palm kernels                       52524.00    58841.00
Palmkernel Oil                      1408.94     1516.58
Peas                                2472.35     2353.80
Pelagic Fish                       19838.14    19779.84
Pepper                               137.04      141.51
Pigmeat                             5914.61     6188.40
Pimento                             2754.14     2847.67
Pineapples and products            14276.56    16120.73
Plantains                          65037.18    65213.66
Population                       1058081.00  1140605.00
Potatoes and products              78655.23    77793.56
Poultry Meat                       22440.36    25257.39
Pulses                             59361.19    64771.23
Pulses, Other and products         36569.14    42264.26
Rape and Mustard Oil                 312.38      247.25
Rape and Mustardseed                 663.00      666.00
Rice and products                 150657.00   167195.55
Ricebran Oil                           0.00        0.00
Roots, Other                       42757.91    43797.46
Rye and products                     428.14      324.35
Sesame seed                         6769.62     8492.35
Sesameseed Oil                       587.58      589.79
Sorghum and products               82725.53    91504.28
Soyabean Oil                       10381.77    11422.03
Soyabeans                          16412.47    24180.95
Spices                              5059.08     6406.66
Spices, Other                       2068.57     3318.96
Starchy Roots                     802578.22   855955.18
Stimulants                         14180.97    15214.78
Sugar & Sweeteners                 80214.74    87663.08
Sugar (Raw Equivalent)             70675.27    78055.95
Sugar Crops                       317423.30   326132.77
Sugar beet                         47240.00    44685.00
Sugar cane                        270179.30   281447.76
Sugar non-centrifugal                230.85      215.68
Sunflower seed                     10686.98     7500.39
Sunflowerseed Oil                   4986.00     5996.97
Sweet potatoes                     67762.36    77209.90
Sweeteners, Other                   8593.45     8701.86
Tea (including mate)                2627.37     2834.23
Tomatoes and products              68981.37    63750.78
Treenuts                            6939.31     6886.56
Vegetable Oils                     60659.38    68401.90
Vegetables                        264068.13   268337.49
Vegetables, Other                 158104.08   163987.21
Vegetal Products                  107064.17   107775.39
Wheat and products                234710.51   242645.19
Wine                                4251.81     4039.32
Yams                              203151.78   221272.09

In [16]:
# What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [17]:
# Which year had the least correlation with ‘Element Code’?
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [18]:
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
df.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [19]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000