In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
# read in the dataset

pd.set_option('display.max_columns', None)
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# print out the column names
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [4]:
# rename columns to be more descriptive
column_names = {'T1':'Kitchen_Temp','RH_1':'Kitchen_Humidity', 'T2':'Livingroom_Temp', 'RH_2':'Livingroom_Humidity',
               'T3':'Laundry_Temp','RH_3':'Laundry_Humidity', 'T4':'Office_Temp','RH_4':'Office_Humidity',
               'T5':'Bathroom_Temp','RH_5':'Bathroom_Humidity', 'T6':'Outnorth_Temp','RH_6':'Outnorth_Humidity',
               'T7':'Ironroom_Temp','RH_7':'Ironroom_Humidity','T8':'Teenroom_Temp',  'RH_8':'Teenroom_Humidity',
               'T9':'Paroom_Temp','RH_9':'Paroom_Humidity','T_out':'Outside_Temp_Station','RH_out':'Outside_Humidity_Station' }

df = df.rename(columns = column_names)
df.head()

,date,Appliances,lights,Kitchen_Temp,Kitchen_Humidity,Livingroom_Temp,Livingroom_Humidity,Laundry_Temp,Laundry_Humidity,Office_Temp,Office_Humidity,Bathroom_Temp,Bathroom_Humidity,Outnorth_Temp,Outnorth_Humidity,Ironroom_Temp,Ironroom_Humidity,Teenroom_Temp,Teenroom_Humidity,Paroom_Temp,Paroom_Humidity,Outside_Temp_Station,Press_mm_hg,Outside_Humidity_Station,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
# Implementing simple linear regression

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

x = df[['Livingroom_Temp']]
y = df['Outnorth_Temp']

# split the dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state = 42)

# fit the model

slm = LinearRegression()
slm.fit(x_train, y_train)

# test prediction
y_predict = slm.predict(x_test)

# get root mean squared error

rmse = np.sqrt(mean_squared_error(y_test, y_predict))
round(rmse, 3)

3.63

In [7]:
# drop the date column
df1 = df.drop(columns = ['date','lights'])

# segment the features and target variables
features_df = df1.drop(columns = 'Appliances')
target = df1['Appliances']

# split the data into training and test set

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, target, test_size = 0.3, random_state = 42)

# normalise dataset to a common scale using minmax scaler

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

normalised_train = pd.DataFrame(scaler.fit_transform(x_train))
normalised_test = pd.DataFrame(scaler.fit_transform(x_test))

In [8]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(normalised_train, y_train) # fits the model to the training set

train_predict = lm.predict(normalised_train)
predicted_values = lm.predict(normalised_test)

In [9]:
# calculate the mae of the train and test set

from sklearn.metrics import mean_absolute_error

mae_train = mean_absolute_error(y_train, train_predict)
mae_test = mean_absolute_error(y_test, predicted_values)

print(round(mae_train, 3))
print(round(mae_test, 3))

53.742
49.093

In [10]:
# calculating root mean squared error

from sklearn.metrics import mean_squared_error

rmse_test = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse_train = np.sqrt(mean_squared_error(y_train, train_predict))

print(round(rmse_test, 3))
print(round(rmse_train, 3))

97.531
95.216

In [11]:
# implement ridge regression

from sklearn.linear_model import Ridge
ridge_reg = Ridge()
ridge_reg.fit(normalised_train, y_train)

Ridge()

In [12]:
ridge_predict = ridge_reg.predict(normalised_test)

In [13]:
rmse_test = np.sqrt(mean_squared_error(y_test, ridge_predict))
print(round(rmse_test, 3))

96.919

In [14]:
# implement lasso regression

from sklearn.linear_model import Lasso
lasso_reg = Lasso()
lasso_reg.fit(normalised_train, y_train)

Lasso()

In [15]:
lasso_predict = lasso_reg.predict(normalised_test)

In [16]:
rmse_test = np.sqrt(mean_squared_error(y_test, lasso_predict))
print(round(rmse_test, 3))

99.556

In [17]:
#comparing the effects of regularisation

def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(lm, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
print(final_weights)

                    Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0        Livingroom_Humidity          -469.521362   -380.264856     -0.000000
1       Outside_Temp_Station          -344.389845   -220.546136      0.000000
2            Livingroom_Temp          -252.710373   -181.115240      0.000000
3                Paroom_Temp          -203.236627   -198.646042     -0.000000
4          Teenroom_Humidity          -168.627161   -166.246807    -26.102888
5   Outside_Humidity_Station           -83.107599    -36.798983    -50.293976
6          Ironroom_Humidity           -47.563552    -50.215392     -0.000000
7            Paroom_Humidity           -42.586339    -45.543329     -0.000000
8              Bathroom_Temp           -16.752822    -25.703802     -0.000000
9               Kitchen_Temp            -3.510725    -32.142710      0.000000
10                       rv1             0.823870      0.775954     -0.000000
11                       rv2             0.823870      0.775954     -0.000000
12               Press_mm_hg             7.315243      6.767363     -0.000000
13             Ironroom_Temp            11.002934      9.721273     -0.000000
14                Visibility            13.168072     12.657672      0.000000
15         Bathroom_Humidity            17.035636     17.303395      0.000000
16           Office_Humidity            27.311829     22.539505      0.000000
17               Office_Temp            31.009668     26.636796     -0.000000
18                 Windspeed            31.225948     33.333311      5.143148
19         Outnorth_Humidity            40.712058     35.281193     -0.000000
20          Laundry_Humidity           102.771652     99.063366      0.000000
21             Teenroom_Temp           109.134698    106.113158      0.000000
22                 Tdewpoint           125.430637     55.456340     -0.000000
23             Outnorth_Temp           252.716928    210.361847      0.000000
24              Laundry_Temp           310.971037    303.091398      0.000000
25          Kitchen_Humidity           495.526020    440.603916     56.944516